<!DOCTYPE html>
<html>
  <head>
    <title>DoomingsScore</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-gray-200">
    <main class="container mx-auto px-5 bg-white">
      <div class="text-3xl bg-blue-300 border-b-4 border-blue-600 p-5 mb-5 -mx-5">Admin</div>
      <%= yield %>

    </main>
  </body>
</html>
