<!DOCTYPE html>
<html>
  <head>
    <title>DoomingsScore</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <main class="container mx-auto bg-gradient-to-r from-green-400 to-blue-500 h-full min-h-screen">
      <div class="flex bg-gray-700 p-2">
        <div class="align-right text-white">
          <%= current_user.name %>
        </div>
      </div>
      <div class="px-2 pt-5">
        <%= yield %>
      </div>
    </main>
  </body>
</html>
